* {
    font-family: 'Zen Kurenaido', sans-serif;
    
}

body {
    margin: 0;
    height: auto;
    
}

#main {
    display: inline-block;   
    background-color: #FAF1E6;  /*FAF1E6   FDFAF6*/
    padding: 1%;
    width: 30vw;
    min-width: 400px;
    height: inherit;
    
}

button {
    cursor: pointer;
    font-size: 15px;
    font-weight: 600 !important;
    padding: 1.2%;
    border-radius: 10px;
    
    margin-top: 12px;
    
}
button:focus {
    outline: none !important;
}

#sec-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#tips {
    height: fit-content;
    width: 20%;
    background-color: aquamarine;
    
    
    
}
#status-cont {
    display: flex;
    text-align: center;
}

#tipslist{
   position: relative;
   left: -20%;
   
}

h3 {
    margin-bottom: 2%;
    margin-top: 0;
    font-weight: 600 !important;
    font-size: 20px;
    
}

img {
    width: 100%;
    margin-top: 0;
    margin-right: 3%;
    border-radius: 12px;
    
}

#alerts-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#host {
    font-size: 2rem;
    margin-top: 1.5%;
    cursor: pointer;
}

#speech_clk {
    display: none;
}

#stop {
    /* cursor: not-allowed;
    opacity: 0.5; */
    display: none;
    
}

textarea {
    overflow-y: auto;
    display: inline-block;
    height: 40vh !important;
    resize: none;
    margin-top: 2%;
    background-color: #CEE5D0;
    border: 2px solid #888 !important;
    border-radius: 10px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslateblue !important;
    font-weight: 600;
}


/* .textarea::-webkit-scrollbar{
    background-color: darkgrey;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    width: 8px;
    border-radius: 14px;
    
} */

.textarea::-webkit-scrollbar {
    width: 12px;
}
 
.textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
