* {
    font-family: 'Zen Kurenaido', sans-serif;  /*entire font */
    
}

body {
    margin: 0;
    height: 95vh;  /*auto */
    
    
}

#main {
    display: inline-block;   
    background-color: #FAF1E6;  /*FAF1E6   FDFAF6*/
    padding: 1%;
    width: 30vw;
    min-width: 400px;
    height: inherit;  /* from the parent element*/
    
}

button {
    cursor: pointer; /* making clickable */
    font-size: 15px;
    font-weight: 600 !important;  /* avoiding conflict with css frameworks*/
    padding: 1.2%;
    border-radius: 10px;
    
    margin-top: 12px;
    
}
button:focus {
    outline: none !important; /* removing outline when clicked */
}

#sec-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#tips { /* currently not in use */
    height: fit-content; /* adjustable */
    width: 20%;
    background-color: aquamarine;
    
    
    
}
#sec-3 {  /* attentiveness container */
    display: flex;
    text-align: center;
    margin-top: 1%;
}

#tipslist{
   position: relative;
   left: -20%;
   
}

h3 {
    margin-bottom: 2%;
    margin-top: 0;
    font-weight: 600 !important; /* avoiding conflict with css framework */
    font-size: 20px;
    
}

img {
    width: 100%;
    margin-top: 0;
    margin-right: 3%;
    border-radius: 12px;  /*Rounding the corners */
    
}

#alerts-cont {
    display: flex;
    justify-content: space-between; /*Flex properties */
    align-items: center;
}

#host {
    font-size: 2rem;  /* relative sizing*/
    margin-top: 1.5%;
    cursor: pointer;   /*clickable */
}

#speech_clk {
    display: none;   /*making toggling effect */
}

#stop {
    /* cursor: not-allowed;
    opacity: 0.5; */
    display: none;        /*Currently styles have been changed in JS */
    
}

#textArea {
    overflow-y: auto;    /* Scrollable*/
    padding-left: 2%;
    
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    height: 250px !important;
    width: 100% !important;
    resize: none;
    margin-top: 2%;
    background-color: #CEE5D0;
    border: 2px solid #888 !important;  /* Avoiding conflicts*/
    border-radius: 10px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslateblue !important;
    font-weight: 600;
}


/* .textarea::-webkit-scrollbar{
    background-color: darkgrey;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    width: 8px;
    border-radius: 14px;
    
} */

.textarea::-webkit-scrollbar {
    width: 12px;   
}
 
.textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); /*Custom styles to the scroll bar */
    border-radius: 10px;
}
 
.textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
